html,
body {
   /* font-family: 'Inter', sans-serif; */
  font-family: 'Kanit', sans-serif;
  /* font-family: 'Prompt', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  padding: 0;
  margin: 0; 
  background-color: #21252b;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
    
}

::-webkit-scrollbar {
	width: 16px;
}

::-webkit-scrollbar-thumb {
	border-radius: 20px;
	border: 6px solid transparent;
	background-clip: content-box;
  background-color: #c2c0c0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
.c_grid {
  display: grid;
}
.c_col {
  grid-gap: 0px;
  grid-template-columns: 250px 1fr;
}
.nv_sr {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: .35s;
  z-index: 999;
}
.nv_active {
  display: flex;
  align-items: center;
  border-radius: 20px;
  transition: .35s;
  background-color: white;
}
.nv_active input {
  width: 400px;
  transform: scale(1);
  position: relative;
  color: rgb(31, 30, 30);
  background-color: transparent;
}
/* .nv_active input::-moz-focus-inner {
  color: black;
} */